html ._1md0{padding:16px 0 0 0}
.sp_z9OpYq0AKiI{background-image:url(/rsrc.php/v3/y1/r/AnBwXRLmrAP.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:24px;width:24px}.sp_z9OpYq0AKiI.sx_120898{width:10px;height:11px;background-position:0 -25px}.sp_z9OpYq0AKiI.sx_3d6580{background-position:0 0}

#bootloader_1eFdm{height:42px;}.bootloader_1eFdm{display:block!important;}