#logo,
.wrapper {
    margin: 0 auto;
    width: 100%
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html,
sup {
    line-height: normal
}

html {
    background: #aeaeae
}

ol,
ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
td,
th {
    text-align: left;
    font-weight: 400;
    vertical-align: middle
}

.offer--col,
sup {
    vertical-align: top
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

a img {
    border: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block
}

* {
    box-sizing: border-box
}

body,
form,
div,
html {
    min-height: 100%;
    width: 100%
}

:focus {
    outline: 0
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    color: #020202;
    text-align: center;
    line-height: 1
}

a {
    color: #000
}

strong {
    font-weight: 700
}

sup {
    font-size: 35%
}

.wrapper {
    max-width: 1920px
}

.hide-m {
    display: none
}

@media screen and (min-width:768px) {
    .hide-m {
        display: inline-block
    }
}

.hide-d {
    display: block
}

@media screen and (min-width:768px) {
    .hide-d {
        display: none
    }
}

.lpHeader {
    background: #020202
}

#logo {
    display: block;
    font-size: 30px;
    color: #676767;
    max-width: 1420px;
    font-weight: 300
}

#logo .logo-txt {
    display: none
}

#logo img {
    width: 50%
}

@media screen and (max-width:768px) {
    #logo {
        padding: 0
    }
}

.offer {
    font-size: 0;
    background: 71% #006341;
    background: -webkit-linear-gradient(top, #006341 71%, #aeaeae 71%)
}

@media screen and (min-width:768px) {
    #logo img {
        width: 25%;
        max-width: 264px;
        display: block
    }
    .offer {
        background: 75% #006341;
        background: -webkit-linear-gradient(top, #006341 75%, #aeaeae 75%)
    }
}

@media screen and (min-width:1005px) {
    .offer {
        background: 85% #006341;
        background: -webkit-linear-gradient(top, #006341 85%, #aeaeae 85%)
    }
}

.offer--col {
    font-size: 16px;
    display: inline-block;
    width: 100%
}

@media screen and (min-width:768px) {
    .offer--col {
        width: 50%
    }
}

.offer--product img {
    width: 70%;
    max-width: 437.5px
}

.offer--title {
    font-family: Arvo, serif;
    font-size: 35px;
    font-size: 11vw;
    padding: 10px;
    line-height: 1.1
}

@media screen and (min-width:640px) {
    .offer--title {
        font-size: 70px
    }
}

@media screen and (min-width:768px) {
    .offer--product img {
        width: 100%;
        max-width: 963px
    }
    .offer--title {
        font-size: 7vw
    }
}

@media screen and (min-width:1920px) {
    .offer--title {
        font-size: 134.5px
    }
}

@media screen and (max-width:768px) {
    .offer--title {
        padding: 0
    }
}

.offer--title span {
    color: #FFF
}

.offer--title sup {
    font-size: 25%;
    font-weight: 400;
    font-family: "Open Sans", sans-serif
}

.details-apply {
    display: block;
    font-size: 50%
}

@media screen and (min-width:768px) {
    .details-apply {
        display: inline-block;
        width: 7vw;
        text-align: left;
        line-height: 1;
        font-size: 40%
    }
}

.offer--collection {
    font-size: 0;
    padding: 45px 10px 10px;
    background: #aeaeae;
    margin-top: -35px
}

@media screen and (min-width:768px) {
    .offer--collection {
        padding: 10px;
        margin-top: 0;
        background: 0 0;
        text-align: left
    }
}

@media screen and (min-width:1005px) {
    .email-wrapper {
        display: inline-block;
        vertical-align: bottom;
        width: 58%;
        margin-right: 2%
    }
}

.email-wrapper input {
    width: 100%;
    max-width: 435px;
    height: 60px;
    margin-bottom: 10px;
    text-align: center;
    padding: 0 5px;
    font-size: 25px
}

@media screen and (min-width:1005px) {
    .email-wrapper input {
        margin-bottom: 0;
        max-width: 100%;
        text-align: left
    }
}

.email-label {
    display: block;
    font-size: 30px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 700
}

@media screen and (min-width:768px) {
    .email-label {
        text-align: left;
        font-size: 33px
    }
}

@media screen and (max-width:768px) {
    .email-label {
        color: #000;
        font-weight: 400
    }
    footer {
        margin: 102% auto 1%;
        margin: 52vh auto 1%
    }
}

.submit {
    cursor: pointer;
    background: #020202;
    border-radius: 5px;
    border: 1px solid #020202;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 28px;
    height: 60px;
    width: 100%;
    max-width: 435px;
    text-align: center
}

.submit:hover {
    background: #676767
}

@media screen and (min-width:1005px) {
    .submit {
        display: inline-block;
        vertical-align: bottom;
        width: 38%
    }
}

footer {
    text-align: center;
    width: 100%;
    font-family: arial, sans-serif;
    font-size: 9pt;
    font-weight: 400;
    line-height: normal
}